header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: blue;
  z-index: 3;

  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}


.topbar__a {
    text-decoration: none;
    color: inherit;
}

.topbar__a:hover {
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
}
