h1,
.h1 {
    font-size: 36px;
    color: gold;
}

h2,
.h2 {
    font-size: 32px;
    color: tomato;
}

h3,
.h3 {
    font-size: 28px;
    color: pink;
}

h4,
.h4 {
    font-size: 24px;
    color: yellowgreen;
}

h5,
.h5 {
    font-size: 20px;
    color: lightskyblue;
}

h6,
.h6 {
    font-size: 16px;
    color: violet;
}