//Colors

$color-green: #C9FF63;
$color-blue: #312DFB;
$color-violet: #E2DAFC;
$color-red: #EC483F;
$color-orange: #FF8800;
$color-yellow: #FFFF55;
$color-black: #101010;
$color-white: #FFFFFF;
$color-gray-warm: #E7E5E4;
$color-gray-cold: #E4E7E8;
 
//Implementation
$color-bg-green: $color-green;
$color-bg-blue: $color-blue;
$color-bg-violet: $color-violet;
$color-bg-red: $color-red;
$color-bg-orange: $color-orange;
$color-bg-yellow: $color-yellow;
$color-bg-black: $color-black;
$color-bg-white: $color-white;
$color-bg-gray-warm: $color-gray-warm;
$color-bg-gray-cold: $color-gray-cold;


//Fonts
$font-primary: 'Roboto', Arial, Helvetica, sans-serif;
$font-secondary: 'Oswald', Arial, Helvetica, sans-serif;


//Implementation
$font-headers: $font-secondary;



//Units
$unit-base: 0.4rem;

//Unit implementation in text
$font-size-small: calc($unit-base * 4); // 16px
$font-size-lowermedium: calc($unit-base * 5); // 20px
$font-size-medium: calc($unit-base * 7); // 28px
$font-size-uppermedium: calc($unit-base * 9); // 36px
$font-size-large: calc($unit-base * 11); // 44px
$font-size-xlarge: calc($unit-base * 13); // 52px